@font-face
{
  font-family: 'myFancyFont';
  src: url('fonts/SCRIPTIN.ttf');
}

div.scroll {
    background-color: #FFFFFF;
    height:225px;
    width: 100%;
    overflow-x: scroll;
}

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}

.level1 h1 {
  margin-bottom: 10px;
  margin-top: 20px;
}

a:link { color: #1db7e2; } 
a:hover { color: #1793b5; }

h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 4px;
}